html{
    font-size: 14px;
    
}

/* 768以下の時（スマホサイズの時） */
.test{
    font-size: 20px;
    height: 200px;
    background-color: yellow;
}
@media screen and (min-width:768px){
    /* 768以上の時（タブレットサイズの時） */
    .test{
        font-size:40px;
        height: 400px;
        background-color: greenyellow;
    }
    /* タブレットのサイズ768~1024px */
}

@media screen and (min-width:1025px){
    /* 1025以上の時（pcサイズの時) */
    .test{
        font-size:60px;
        height: 600px;
        background-color: green;
    }
}



a{
    color: #333;
    text-decoration: none;
}

.cmn-title{
text-align: center;
font-weight: bold;
}

.sub-title{
display: block;
color: #38b6ff;
}

.main-title{
display: block;
font-size: 2rem;
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1024px;
margin: 0 auto;
height: 80px;
/* background-color:yellow; */
}

.header-logo{

}

.header-list{
    display: flex;
}

.header-item{
    /* 1rem = 16px */
margin-left: 2.5rem;
font-size: 1.2rem;
}


/* firstview */

.firstview{
background-image: url(../image/hero.jpg);
background-size: cover;
background-position: center;
height: 700px;
}

.firstview-message{
display: flex;
font-size: 5.5rem;
justify-content: center;
align-items: center;
font-size: 5.5rem;
height: 100%;
letter-spacing: 0.5rem;
}

.firstview-message .blue{
 color: #38b6ff;
}



/* about */


.about{
max-width: 800px;
margin: 120px 0 auto;

}


.about-wrapper{
display: flex;
margin-top: 60px;
}

.about-image{
    text-align: center;
    
    }



.about-greeting{

}

.about-subtitle{
font-size: 1.5rem;
color: #38b6ff;
margin-bottom: 0.5rem
}

.greeting-desc{


}

.about-career{
margin-top: 30px;
}

.career-list{


}

.career-item{


}

@media screen and (min-width:768px){
    .aobut-wrapper{
        display: flex;
    }

    .about-text{
        margin-top: 0px;
        margin-left: 80px;
        }
    
}


/* .skills */
.skills{
max-width: 1024px;
margin: 120px auto 0;
padding: 0 16px;
}

.skill-list{
margin-top: 60px;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 40px 20px;
}

.skill-item{


}

.skill-image{
height: 180px;
text-align: center;
}

.skill-name{
font-size: 1.5rem;
font-weight: bold;
text-align: center;
}
.skill-desc{
margin-top: 1rem;
}
@media screen and (min-width:768px){
    .skill-list{
        max-width: 500px;
    }

    .skill-item{
WIDTH: 230PX;

    }
}
@media screen and (min-width:1024px){
    .skill-list{
        max-width: 1024px;
    }
}

/* works */
.works{
max-width: 900px;
margin: 120px auto o;
}

.work-list{
margin-top: 60px;

}

.work-item{
display: flex;

gap: 0 50px;
margin-top: 45px;

}

.work-item.reverse{
flex-direction: row-reverse;
}

.work-image{
width: 50%;
}

.work-image img{
width:100%;
}


.work-text{
margin-top: 2rem;
width: 50%;
}

.work-title{

}

.work-skill{

}


.work-time{


}

.work-desc{
margin-top: 1rem;
}



/* contact */
.contact{
margin: 120px;
text-align: center;
}

.contact-text{
margin: 60px;

}

.contact-message{


}

.contact-mail{
font-size: 2rem;
font-weight: bold;
}

.icon-area{
margin-top: 30px;

}

.icon-area .fa-brands{
font-size: 2rem;
margin: 0 1rem;

}



/* footer */
.footer{
background-color: #ddd;
padding: 30px 0 10px;
}

.footer-list{
display: flex;
justify-content: space-between;
max-width: 400px;
margin: 0 auto;
}

.footer-item{
font-size: 1.2rem;

}

.copyright{
    margin-top: 2rem;
    text-align: center;
}