a{
    color: #333;
    text-decoration: none;
}

.cmn-title{
text-align: center;
font-weight: bold;
}

.sub-title{
display: block;
color: #38b6ff;
}

.main-title{
display: block;
font-size: 2rem;
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1024px;
margin: 0 auto;
height: 80px;
/* background-color:yellow; */
}

.header-logo{

}

.header-list{
    display: flex;
}

.header-item{
    /* 1rem = 16px */
margin-left: 2.5rem;
font-size: 1.2rem;
}


/* firstview */

.firstview{
background-image: url(../image/hero.jpg);
background-size: cover;
background-position: center;
height: 700px;
}

.firstview-message{
display: flex;
font-size: 5.5rem;
justify-content: center;
align-items: center;
font-size: 5.5rem;
height: 100%;
letter-spacing: 0.5rem;
}

.firstview-message .blue{
 color: #38b6ff;
}



/* about */


.about{
max-width: 800px;
margin: 120px 0 auto;

}


.about-wrapper{
display: flex;
margin-top: 60px;
}

.about-image{


}

.about-text{
margin-left: 80px;

}

.about-greeting{

}

.about-subtitle{
font-size: 1.5rem;
color: #38b6ff;
margin-bottom: 0.5rem
}

.greeting-desc{


}

.about-career{
margin-top: 30px;
}

.career-list{


}

.career-item{


}



/* .skills */
.skills{
max-width: 1024px;
margin: 120px auto 0;
}

.skill-list{
margin-top: 60px;
display: flex;
gap: 0 20px;
}

.skill-item{


}

.skill-image{
height: 180px;
text-align: center;
}

.skill-name{
font-size: 1.5rem;
font-weight: bold;
text-align: center;
}
.skill-desc{
margin-top: 1rem;
}


/* works */
.works{
max-width: 900px;
margin: 120px auto o;
}

.work-list{
margin-top: 60px;

}

.work-item{
display: flex;

gap: 0 50px;
margin-top: 45px;

}

.work-item.reverse{
flex-direction: row-reverse;
}

.work-image{
width: 50%;
}

.work-image img{
width:100%;
}


.work-text{
margin-top: 2rem;
width: 50%;
}

.work-title{

}

.work-skill{

}


.work-time{


}

.work-desc{
margin-top: 1rem;
}



/* contact */
.contact{
margin: 120px;
text-align: center;
}

.contact-text{
margin: 60px;

}

.contact-message{


}

.contact-mail{
font-size: 2rem;
font-weight: bold;
}

.icon-area{
margin-top: 30px;

}

.icon-area .fa-brands{
font-size: 2rem;
margin: 0 1rem;
}


/* footer */
.footer{
background-color: #ddd;
padding: 30px 0 10px;
}

.footer-list{
display: flex;
justify-content: space-between;
max-width: 400px;
margin: 0 auto;
}

.footer-item{
font-size: 1.2rem;

}

.copyright{
    margin-top: 2rem;
    text-align: center;
}