a{
    color: #333;
    text-decoration: none;
}

.cmn-title{
text-align: center;
font-weight: bold;
}

.sub-title{
display: block;
color: #38b6ff;
}

.main-title{
display: block;
font-size: 2rem;
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1024px;
margin: 0 auto;
height: 80px;
/* background-color:yellow; */
}

.header-logo{

}

.header-list{
    display: flex;
}

.header-item{
    /* 1rem = 16px */
margin-left: 2.5rem;
font-size: 1.2rem;
}
.about{
max-width: 800px;
margin: 120px 0 auto;

}


.about-wrapper{
display: flex;
margin-top: 60px;
}

.about-image{


}

.about-text{
margin-left: 80px;

}

.about-greeting{

}

.about-subtitle{
font-size: 1.5rem;
color: #38b6ff;
margin-bottom: 0.5rem
}

.greeting-desc{


}

.about-career{
margin-top: 30px;
}

.career-list{


}

.career-item{


}



/* .skills */
.skills{
max-width: 1024px;
margin: 120px auto 0;
}

.skill-list{
margin-top: 60px;
display: flex;
gap: 0 20px;
}

.skill-item{


}

.skill-image{
height: 180px;
text-align: center;
}

.skill-name{
font-size: 1.5rem;
font-weight: bold;
text-align: center;
}
.skill-desc{
margin-top: 1rem;
}

.footer{
background-color: #ddd;
padding: 30px 0 10px;
}

.footer-list{
display: flex;
justify-content: space-between;
max-width: 400px;
margin: 0 auto;
}

.footer-item{
font-size: 1.2rem;

}

.copyright{
    margin-top: 2rem;
    text-align: center;
}